version: '3.8'
services:
  postgresql:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: roomily
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin-container
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"  # Exposes pgAdmin on port 5050
    depends_on:
      - postgresql  # Ensures pgAdmin starts after PostgreSQL
    restart: unless-stopped

volumes:
  postgres_data:
